<div class="home">
  <div class="content">
    <h1 class="nickname"><%= theme.nickname %></h1>

    <div class="profile">
      <span>最近更新: <%- date(page.posts.date) %></span>
    </div>
    <section class="posts">
      <% page.posts.each(function (post) { %>
      <article class="post">
        <div class="post-title">
          <a class="post-title-link" href="<%- url_for(post.path) %>"
            ><%= post.title %></a
          >
        </div>
        <div class="post-tag-category">
          <span>
            <%- list_categories(post.categories, { show_count: false, class:
            'article-category', style: 'none', separator: '/' }) %> <%-
            list_tags(post.tags, { show_count: false, class: 'article-tag' }) %>
          </span>
        </div>
        <div class="post-excerpt">
<% if (post.description){ %>
          <a href="<%- url_for(post.path) %>" 
            >  <%- post.description %></div>
            <% } %></a>
          
          </br>
      </article>
      <% }) %>
    </section>
    <%- partial('_partial/paginator') %>
    <hr />
  </div>
</div>
<ul class="footer-links">
  <% for (var key in theme.links) { %>
  <li>
    <% if (theme.icons){ %>
    <a href="<%= theme.links[key] %>"><span class="fa fa-<%= key %>"></span></a>
    <% } else { %>
    <a href="<%= theme.links[key] %>"><%= key %></a>
    <% } %>
  </li>
  <% } %>
</ul>
