<div class="home">
  <div class="content">
    <h1 class="nickname"><%= theme.nickname %></h1>
    <div class="description">
      <p><%- markdown(theme.description) %></p>
    </div>
    <br />
    <div class="profile">
      <span>Recent update: <%- moment(page.posts.date).fromNow() %></span>
      <br />
      <%- list_posts({amount:1}) %>
      <hr />
    </div>
  </div>
</div>
<ul class="footer-links">
  <% for (var key in theme.links) { %>
  <li>
    <% if (theme.icons){ %>
    <a href="<%= theme.links[key] %>"><span class="fa fa-<%= key %>"></span></a>
    <% } else { %>
    <a href="<%= theme.links[key] %>"><%= key %></a>
    <% } %>
  </li>
  <% } %>
</ul>
